.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "left main right"
        "footer footer footer";
    gap: 5px;
    width: 80%;
    margin: 0 auto;
    
}
@media (max-width:600px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "left"
        "main"
        "right"
        "footer"
        ;
    }
}
.header {
    grid-area: header;
    height: 100px;
}
.Navigation {
    height: 80px;
    grid-area: nav;
}
.left {
    height: 300px;
    grid-area: left;
}
.main {
    height: 300px;
    grid-area: main;
}
.right {
    height: 300px;
    grid-area: right;
}
.footer {
    height: 80px;
    grid-area: footer;
}

.container > * {
    background-color: gray;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}

